#title12345 {
  font-size: 24pt;
}

/* START OF TITLE STATEMENT */

mei-filedesc > mei-titlestmt > mei-title {
  content:'\a';
  font-size: 25pt;
  font-variant-caps: small-caps;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  white-space: pre;
  display: block;
  margin-top: -0.5px;
  margin-bottom: 1.5px;
}


mei-filedesc > mei-titlestmt> mei-composer:before {
  content:'\a'"Composer: ";
  font-weight: bold;
  color: #001482;
  white-space: pre;
  display: block;
}

mei-filedesc > mei-titlestmt> mei-composer {
  color: #4f4f54;
  white-space: pre;
  display: block;
}

mei-filedesc > mei-titlestmt> mei-date:before {
  content:'\a'"Year of Composition: ";
  font-weight: bold;
  color: #001482;
  white-space: pre;
  display: block;
}

mei-filedesc > mei-titlestmt> mei-date {
  color: #4f4f54;
  white-space: pre;
  display: block;
}

mei-filedesc > mei-titlestmt> mei-arranger:before {
  content:'\a'"Arranged by: ";
  font-weight: bold;
  color: #001482;
  white-space: pre;
  display: block;
}

mei-filedesc > mei-titlestmt> mei-arranger {
  color: #4f4f54;
  white-space: pre;
  display: block;
}

/* END OF TITLE STATEMENT */

/* START OF EDITION STATEMENT */

#pers12345 {
  margin-top: 2em;
}

mei-filedesc > mei-editionstmt> mei-edition:before {
  color: #c42b2b;
  font-weight: bold;
  content: '\a'"Draft: ";
  white-space: pre;
  display: block;
}

mei-filedesc > mei-editionstmt> mei-edition {
  color: #4f4f54;
  white-space: pre;
  display: block;
}

mei-filedesc > mei-editionstmt> mei-date:before {
  color: #c42b2b;
  font-weight: bold;
  content: '\a'"Draft Date: ";
  white-space: pre;
  display: block;
}

mei-filedesc > mei-editionstmt> mei-date {
  color: #4f4f54;
  white-space: pre;
  display: block;
}

mei-filedesc > mei-editionstmt> mei-respstmt > mei-resp {
  color: #c42b2b;
  font-weight: bold;
}

mei-filedesc > mei-editionstmt> mei-respstmt > mei-name {
  color: #4f4f54;
}


/* END OF EDITION STATEMENT */

/* START OF SERIES STATEMENT */

#pers12345 {
  margin-top: 2em;
}

mei-filedesc > mei-seriesstmt> mei-title {
  color: #636363;
  font-weight: bold;
  content: '\a';
  white-space: pre;
  display: block;
}

mei-filedesc > mei-seriesstmt> mei-editor {
  color: #636363;
  font-weight: bold;
  content: '\a';
  white-space: pre;
  display: block;
}

mei-filedesc > mei-seriesstmt> mei-identifier {
  color: #636363;
  font-weight: bold;
  content: '\a';
  white-space: pre;
  display: block;
}

mei-filedesc > mei-seriesstmt> mei-contents > mei-p {
  color: #636363;
  content: '\a';
  white-space: pre;
  display: block;
}

/* END OF SERIES STATEMENT */

/* START OF NOTES STATEMENT */

#pers12345 {
  margin-top: 2em;
}

mei-filedesc > mei-notesstmt> mei-annot {
  color: #636363;
  content: '\a';
  white-space: pre;
  display: block;
}

/* END OF NOTES STATEMENT */


/* styles for html shell and html elements in TEI (e.g.,<a> and <img>) */
html > body {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
  margin-left: 2em;
  margin-right: 4em;
  padding: 2.5em;
  font-family: "Lucida Grande", "Cardo", "Arial Unicode MS","Galilee Unicode Gk", "New Athena Unicode", "Athena Unicode", "Palatino Linotype", "Titus Cyberbit Basic", "Vusillus Old Face", "Alphabetum", "Galatia SIL", "Code 2000", "GentiumAlt", "Gentium", "Minion Pro", "GeorgiaGreek", "Vusillus Old Face Italic", "Everson Mono", "Aristarcoj", "Porson", "Legendum", "Aisa Unicode", "Hindsight Unicode", "Caslon", "Verdana", "Tahoma";
  font-size: 12pt;
  background-color: #dbdbdb;
  color: #292929;
}
